extends layout

block content
  h1 account
  table
    tr
      td username
      td= username
    tr
      td real name
      td= realName
    tr
      td admin?
      td= isAdmin
    tr
      td last seen
      td= lastSeen
