extends layout

block content
  h1 Account
  table
    tr
      td Username
      td= username
    tr
      td Real Name
      td= realName
    tr
      td Admin
      td= isAdmin
    tr
      td Last Seen
      td= lastSeen
