extends layout

block content
  h1 create account
  form(name='register', action='/register', method='post')
    table
      tr
        td
          label(for='username') username
        td
          input(type='text', name='username')
      tr
        td
          label(for='realName') real name
        td
          input(type='text', name='realName')
      tr
        td
          label(for='password') password
        td
          input(type='password', name='password')
      tr
        td
          label(for='key') signup key
        td
          input(type='text', name='key')
    input(type='submit', value='register')
