extends layout

block content
  h1 offix
  p
    a(href='/account') account
  p
    a(href='/logout') log out
  table
    tr(class="alternating")
      td
        strong username
      td
        strong real name
      td
        strong last seen
    each user in users
      tr(class="alternating")
        td= user.username
        td= user.realName
        td= user.lastSeen
