extends layout

block content
  div.center
    h1.offix Offi<span>X</span>
    div.form-group
      a.btn.btn-def.btn-block.register(href="/account") Account
      a.btn.btn-def.btn-block.register(href='/logout') Log Out
    table
      tr.alternating(id="table-titles")
        td
          strong username
        td
          strong real name
        td
          strong last seen
      each user in users
        tr.alternating.data
          td= user.username
          td= user.realName
          td= user.lastSeen
