body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr.alternating:nth-child(even) {
  background-color: #f2f2f2;
}

td.positive,
tr.positive,
tr.negative {
  color: white;
}

td.positive,
tr.positive {
  background-color: #2ecc71 !important;
}

td.positive,
tr.negative {
  background-color: #e74c3c !important;
}

th {
  background-color: #4CAF50;
  color: white;
}

.inline {
  display: inline-block;
}